.UserCard{
    width: 250px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
}

.UserCard:hover{
    /* background-color: aquamarine; */
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    background-color: chocolate;
}
.Image{
    width: 100%;
    height: 150px;
    background-image: url("https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331257__340.png");
    background-size: 100% 100%;
}

.Info{
    padding: 10px;
}

.Actions{
    margin-top: 20px;
    font-size: 12px;
}