.ProductCard{
    height: 200px;
    width: 250px;
    padding: 10px;
    margin: 20px;
    transition: all 0.3s;
    border-radius: 5px;
    border-top: 3px solid purple;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
}

.ProductCard:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    background-color: powderblue;
}

.Info{
    /* display: flex;
    flex-direction: column; */
    font-size: 15px;
}